<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="/admin/quiz_list" method="post" enctype="multipart/form-data">
      <div>
        <label for="image">Image</label>
        <input type="file" id="image" name="image">
      </div>
      <div>
        <label for="answer">Answer *쉼표로 구분*</label>
        <input type="text" id="answer" name="answer">
      </div>
      <div>
        <label for="comment">Comment</label>
        <input type="text" id="comment" name="comment">
      </div>
      <div>
        <button type="submit">완료</button>
      </div>
    </form>
  </body>
</html>
