<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div class="main_square">
      <div class="Quiz_Title">
        축하합니다! 이미 모든 문제를 전부 맞추셨습니다!
      </div>
      <div style="font-size:8em;color:#3CC9FF;">
        ❀
      </div>
      <div class="BtnWrap">
      <button class="Btn SendBtn" onclick="location.href='/quiz/quiz_page'">계속풀기 ➜</button>
      </div>
    </div>
</body>
</html>
