<!DOCTYPE html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="main_square">
        <div class="Title_name">
            | 전부 이름을 알고계신가요? |
        </div>
        <div class="Icons">
            <table>
                <tr>
                    <td><img src="img/main/cone.png" width="20%"></td>
                    <td><img src="img/main/pen.png" width="20%"></td>
                    <td><img src="img/main/bookmark.png" width="20%"></td>
                </tr>
                <tr>
                    <td>꼬깔콘 아니에요!</td>
                    <td>샤프? 사실 그건 상품명입니다.</td>
                    <td>북마크? 책갈피?<br>더 정확한 이름은?</td>
                </tr>
            </table>
        </div>
        <div class="Counts">
            <div class="Number"><%= tCounter %></div>
            현재 문제 개수
        </div>
        <div class="Btn_Wrap">
            <button class="Btn" onclick="location.href='/quiz_page'">이름 맞추기 퀴즈 풀어보기!</button>
        </div>
    </div>
</body>
</html>
