<!DOCTYPE html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div class="main_square">
        <div class="Quiz_Title">
            문제 0번
        </div>

        <div class="image">
          <img src="/quiz_image/P0.jpg" alt="문제 사진이 보이지 않을 시 문의 바랍니다.">
        </div>

        <div class="comment">
            설명 : 설명없음
        </div>

        <div class="input">
            <input type="text" class="answer" placeholder="이름을 입력하세요.">
        </div>

        <div class="BtnWrap">
        <button class="Btn SendBtn">제출!</button>
        <button class="Btn ReloadBtn">↻ 다른 문제</button>
        </div>

        <div class="Hint">▶ 힌트보기</div>
    </div>
</body>
</html>
