<!DOCTYPE html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div class="main_square">
      <div class="Quiz_Title">
        틀렸습니다!
      </div>
      <div style="font-size:8em;color:#3CC9FF;">
        ✘
      </div>
      <div class="BtnWrap">
      <button class="Btn ReloadBtn" onclick="#">↩ 다시풀기</button>
      </div>
    </div>
</body>
</html>
