<!DOCTYPE html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div class="main_square">
        <div id="Quiz_Title">
            문제 0번
        </div>

        <div id="image">
        </div>

        <div id="comment">
            설명 : 설명없음
        </div>

        <div id="input">
            <input type="text" id="answer" placeholder="이름을 입력하세요.">
        </div>

        <div class="BtnWrap">
        <button class="Btn SendBtn">제출!</button>
        <button id="ReloadBtn">↻ 다른 문제</button>
        </div>

        <div id="Hint">▶ 힌트보기</div>
    </div>
</body>
</html>
