<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/ranking.css">
</head>
<body>
    <div class="main_square">
      <div class="Ranking_Icon">
        🏆
      </div>
      <div class="Ranking_element_wrap">
        <div class="Ranking_element">
          1위
        </div>
        <div class="Ranking_element">
          2위
        </div>
        <div class="Ranking_element">
          3위
        </div>
      </div>
    </div>
</body>
</html>
