<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div class="main_square">
      <div class="Quiz_Title">
        정답입니다!
      </div>
      <div style="font-size:8em;color:#E32757;">
        ✔
      </div>
      <div class="BtnWrap">
      <button class="Btn SendBtn" style="background-color:#E32757;" onclick="location.href='/quiz/unsolved'">계속풀기 ➜</button>
      </div>
    </div>
</body>
</html>
