table{
  font-size: 1em;
  margin: 0 auto;
}

img{
    margin: 0.5em;
    padding: 1em;
    border-radius: 30%;
    background-color: #2D313B;
}

.Title_name{
    padding: 0.5em;
    margin: 0.5em;
    color: white;
    font-weight: 700;
    font-size: 200%;
}

.Icons{
    padding: 0.5em;
    color: #3CC9FF;
    font-size: 90%;
    font-weight: 400;
}

.Counts{
    margin: 1em;
    padding: 0.5em;
    color: #8D879D;
    font-weight: 200;
    font-size: 1em;
}

.Number{
    font-size: 350%;
    font-weight: 700;
    color: #8D879D;
}

.login_Wrap{
  color: white;
  display: block;
  padding: 1em;
}

.login_Btn{
  background-color: #2D313B;
  color: #8D879D;
  width: 20%;
  font-size: 1em;
}
.login_Btn:hover{
    background-color: #8D879D;
    color: #2D313B;
}
