html, body{
    position: relative;
    padding: 1em;
    text-align: center;
    background-color: #1E2128;
    font-family: 'Gothic A1', sans-serif;
}

.main_square{
    display: inline-block;
    padding: 1em;
    width: 85%;
    background-color: #1E2128;

    box-shadow: 0.5em 0.5em 1em 0 black;
    border-radius: 2em;
    text-align: center;
}

.Btn_Wrap{
    padding: 1em;
}
.Btn{
    padding: 1em;
    margin: 0.8em;
    width: 30%;
    font-size: 120%;
    font-weight: 700;
    border: none;
    border-radius: 1em;
    background-color: #3CC9FF;
    color: #1E2128;
}
.Btn:hover{
    background-color: #E4F3FF;
}
.Btn:active{
    transform: scale(0.9, 0.9);
}
