.Quiz_Title{
    display: block;
    padding: 0.5em;
    color: white;
    font-size: 150%;
    font-weight: 700;
}

img{
  display: inline-block;
  width: 50%; height: auto;
  border-radius: 1em;
}

.comment{
    display: block;
    padding: 1em;
    color: #8D879D;
    font-weight: 400;
}

.input{
    display: block;
}
.answer{
    width: 50%;
    margin: 1em;
    padding: 2em;
    border: none;
    border-radius: 1em;
}

.SendBtn{
  width: 20%;
}

.Unsolved_SendBtn{
  width: 20%;
  background-color:#E32757;
}

.ReloadBtn{
    width: 20%;
    background-color: #2D313B;
    color: #8D879D;
}

.ReloadBtn:hover{
    background-color: #8D879D;
    color: #2D313B;
}

.Ranking_Mode_Wrap{
  float: right;
}

.Ranking_Mode_Btn{
  margin: 0 auto;
  padding: 0.5em;
  width: auto;
  border-radius: 0.5em;
  font-size: medium;
  background-color: #E32757;
}

.right{
  margin: 0 0 0 0.5em;
  background-color: #FFD033;
}

.Hint{
    display: inline-block;
    color: #8D879D;
    padding: 1em;
}

.user_info_wrap{
  display: inline-block;
  text-align: left;
  padding: 1em;
  width: 95%;
  color: white;
  font-weight: 400;
}

.logout{
  color:grey;
  font-size:small;
  padding:1em;
}
