.Quiz_Title{
    display: block;
    padding: 0.5em;
    color: white;
    font-size: 150%;
    font-weight: 700;
}

.image{
    display: inline-block;
    width: 90%;
    height: 20em;
    border-radius: 1em;
    background-color: whitesmoke;
}

.image img{
  display: inline-block;
  width : auto;
  height: inherit;
}

.comment{
    display: block;
    padding: 1em;
    color: #8D879D;
    font-weight: 400;
}

.input{
    display: block;
}
.answer{
    width: 50%;
    margin: 1em;
    padding: 2em;
    border: none;
    border-radius: 1em;
}

.SendBtn{
    width: 20%;
}

.ReloadBtn{
    width: 20%;
    background-color: #2D313B;
    color: #8D879D;
}

.ReloadBtn:hover{
    background-color: #8D879D;
    color: #2D313B;
}

.Hint{
    display: inline-block;
    color: #8D879D;
    padding: 1em;
}

.user_info_wrap{
  display: inline-block;
  text-align: left;
  width: 90%;
  padding: 1em;
  color: #8D879D;
  font-weight: 400;
}
