.Ranking_Icon{
  display: block;
  padding: 0.2em;
  color: white;
  font-size: 450%;
}

.Ranking_element_wrap{
  display: block;
  padding: 0.1em;
}

.Ranking_element{
  display: block;
  margin: 1em;
  text-align: left;
}

.Ranking_box{
  display: inline-block;
  padding: 1em;
  border-radius: 1em;
  font-weight: 700;
  font-size: larger;
}

.N1{
  background-color: #FFD033;
}

.N2{
  background-color: #3CC9FF;
}

.N3{
  background-color: #E32757;
}

.Normal_box{
  display: inline-block;
  padding: 1em;
  font-weight: 700;
  color: white;
}

.Info_box{
  display: inline-block;
  margin: 1em;
  padding: 0.5em;
}

.ID{
  color: white;
}

.score{
  color: white;
}
