<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div class="main_square">
      <div class="Quiz_Title">
        마이페이지
      </div>
      
</body>
</html>
