<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div class="main_square">
      <div class="Quiz_Title">
        회원가입이 완료되었습니다!
      </div>
      <div style="font-size:8em;color:#3CC9FF;">
        ☻
      </div>
      <div class="BtnWrap">
      <button class="Btn SendBtn" onclick="location.href='/quiz_page'">문제 풀러가기 ➜</button>
      </div>
    </div>
</body>
</html>
