<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/quiz.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="main_square">
      <div class="Quiz_Title">
        로그인
      </div>
      <div class="login_Wrap">

        <div class="input_Wrap">
          <div class="blue_box">
            닉네임 <span style="color:#3CC9FF;font-weight:700;">|</span>
          </div>
          <input type="text" id="nickname" name="nickname" class="answer user_input" placeholder="닉네임을 입력하세요.">
        </div>

        <div class="input_Wrap">
          <div class="blue_box">
            아이디 <span style="color:#3CC9FF;font-weight:700;">|</span>
          </div>
          <input type="text" id="user_id" name="user_id" class="answer user_input" placeholder="아이디를 입력하세요.">
        </div>

        <div class="input_Wrap">
          <div class="blue_box">
            비밀번호 <span style="color:#3CC9FF;font-weight:700;">|</span>
          </div>
          <input type="text" id="user_pw" name="user_pw" class="answer user_input" placeholder="비밀번호 입력하세요.">
        </div>

        <div class="input_Wrap">
          <div class="blue_box">
            비번 확인 <span style="color:#3CC9FF;font-weight:700;">|</span>
          </div>
          <input type="text" id="conf_pw" name="conf_pw" class="answer user_input" placeholder="비밀번호 확인">
        </div>

      </div>
      <button class="Btn" style="width:20%;" type="submit">회원가입</button>
      <a href="/users" class="change">로그인하기</a>
    </div>
</body>
</html>
